%li
  %label{:name => 'consumer_key'}
    Consumer key:
  %input{:type => 'text', :name => 'consumer_key' }
  %p.inline-hints
    The Consumer Key from the twitter app
%li
  %label{:name => 'consumer_secret'}
    Consumer secret:
  %input{:type => 'text', :name => 'consumer_secret' }
  %p.inline-hints
    The Consumer Secret from the twitter app
%li
  %label{:name => 'access_token'}
    Access Token:
  %input{:type => 'text', :name => 'access_token' }
  %p.inline-hints
    The OAuth Access Token from the twitter app
%li
  %label{:name => 'access_token_secret'}
    Access Token Secret:
  %input{:type => 'text', :name => 'access_token_secret' }
  %p.inline-hints
    The OAuth Access Token Secret from the twitter app
